VUE_APP_API_URL=https://api.development.matchd.ch
# VUE_APP_API_URL= https://api.staging.matchd.ch
VUE_APP_DATA_PROTECTION_URL='https://app.matchd.localhost/datenschutz'
VUE_APP_GTM_ENABLED=false
VUE_APP_GTM_DEBUG=false
VUE_APP_GTM_CONTAINER_ID=GTM-XXXXXXX
VUE_APP_SENTRY_DSN=https://9a143447bfae45d8944d40087b992759@glitchtip.joshmartin.ch/3
VUE_APP_SENTRY_ENVIRONMENT=local
VUE_APP_SENTRY_RELEASE=